.details-page section.info{
    padding-top: 70px;
    padding-bottom: 70px;
    /*background: url(../images/ui/pages/info/bg.png) center top;
    background-size: 789px auto;*/
}
.details-page section.info h4{
    font-size: $h4;
    line-height: 36px;
    font-weight: normal;
    text-align: center;
    margin:0 0 59px;
}
.details-page section.info .section{
    margin-left: -36px;
    margin-right: -36px;
    @include clearfix();
}
.details-page section.info .col{
    float: left;
    padding-left: 36px;
    padding-right: 36px;
}
.details-page section.info .photo{
    width: 39.5%;
    padding-top: 15px;
}
.details-page section.info .photo img{
    max-width: 100%;
}
.details-page section.info .details{
    width: 60.5%;
}
.details-page section.info h5{
    font-size: $h5;
    font-weight: normal;
    margin:0 0 4px;
}
.details-page section.info h5 a{
    text-decoration: none;
    color: $base;
    font-size: $h5;
}
.details-page section.info dl{
    font-size: $s14;
    line-height: 20px;
    margin:0;
    @include clearfix();
}
.details-page section.info dl + dl{
    margin-bottom: 31px;
}
.details-page section.info dl dt{
    float: left;
    margin:0 8px 0 0;
}
.details-page section.info dl dd{
    float: left;
    margin:0 14px 0 0;
}
.details-page section.info dl dd img{
    max-height: 18px;
}
.details-page section.info dl dd a{
    text-decoration: none;
}
.details-page section.info p{
    font-size: $s14;
    line-height: 16px;
    margin-top: 0;
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    .details-page section.info{
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .details-page section.info h4{
        margin:0 0 24px;
    }
    .details-page section.info .section{
        margin-left: -15px;
        margin-right: -15px;
        @include clearfix();
    }
    .details-page section.info .col{
        float: none;
        padding-left: 15px;
        padding-right: 15px;
    }
    .details-page section.info .photo{
        width: 100%;
        padding-top: 0;
        margin-bottom: 15px;
        text-align: center;
    }
    .details-page section.info .details{
        width: 100%;
    }
    .details-page section.info dl + dl{
        margin-bottom: 15px;
    }
    .details-page section.info p{
        margin-bottom: 15px;
    }
}

/*@media
only screen and (-webkit-min-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (   min--moz-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (     -o-min-device-pixel-ratio:1.25/1)    and (min-width:320px),
only screen and (        min-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (              min-resolution:120dpi)      and (min-width:320px),
only screen and (               min-resolution:2dppx)      and (min-width:320px){
    .details-page section.info{
        background-image: url(../images/ui/pages/info/bg@3x.png);
    }
}*/