{% extends './master/main.html' %}

{% block title %}Website - Details{% endblock %}

{% block meta %}
<meta name="description" content="2" />
<meta name="keywords" content="3" />
{% endblock %}

{% block cssLibs %}
<link rel="stylesheet" href="content/css/libs/owl.carousel.css">
{% endblock %}

{% block namepage %}details-page{% endblock %}

{% block main %}

    {% include "./content/pages/details/info.html" %}

    {% include "./content/pages/details/media.html" %}

{% endblock %}

{% block modal %}

{% include "./content/pages/details/shadowbox.html" %}

{% endblock %}

{% block scriptLibs %}
<script type="text/javascript" src="content/js/libs/owl.carousel.js"></script>
{% endblock %}

{% block script %}
<script type="text/javascript" src="content/js/pages/details.js"></script>
{% endblock %}

