.t-container{
    width: 1054px;
    @include center-block();
    @include clearfix();
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 1200px) {
    .t-container{
       padding-left: 40px;
       padding-right: 40px;
    }
}

@media (max-width: 1053px) {
    .t-container{
        width: inherit;
    }
}