.home-page section.about{
    text-align: center;
    padding-top: 70px;
    background:$white;
}
.home-page section.about h4{
    font-size: $h4;
    font-weight: normal;
    margin:0 0 21px;
}
.home-page section.about .h2{
    font-size: $s30;
    line-height: 36px;
    font-family: $HelveticaNeueBold;
    font-weight: 900;
}
.home-page section.about .socials-section{
    width: 660px;
    margin: 0 auto;
    padding: 0;
}
.home-page section.about .socials-nav{
    margin: 0 -15px;
    padding: 0;
    list-style: none;
    @include clearfix();
}
.home-page section.about .socials-nav li{
    float: left;
    width: 25%;
    text-align: center;
    padding: 0 15px;
    margin-top: 70px;
    margin-bottom: 70px;
}
.home-page section.about .socials-nav li a{
    text-decoration: none;
    display: block;
    color: $positive;
    font-size: $s15;
}
.home-page section.about .socials-nav li a:before{
    content: '';
    display: block;
    height: 96px;
    background: url(../images/ui/pages/home/about/socials.png) no-repeat;
    background-size: 96px auto;
    margin-bottom: 13px;
}
.home-page section.about .socials-nav li.facebook a:before{
    background-position: center 0;
}
.home-page section.about .socials-nav li.twitter a:before{
    background-position: center -96px;
}
.home-page section.about .socials-nav li.google-plus a:before{
    background-position: center -192px;
}
.home-page section.about .socials-nav li.youtube a:before{
    background-position: center -288px;
}

@media (max-width: 767px) {
    .home-page section.about{
        padding-top: 35px;
    }
    .home-page section.about h4{
        margin:0 0 10px;
    }
    .home-page section.about .h2{
        font-size: $h5;
        line-height: 26px;
    }
    .home-page section.about .socials-section{
        width: 100%;
    }
    .home-page section.about .socials-nav li{
        width: 50%;
        margin-top: 35px;
        margin-bottom: 35px;
    }
    .home-page section.about .socials-nav li:nth-child(1),
    .home-page section.about .socials-nav li:nth-child(2){
        margin-bottom: 0;
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (   min--moz-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (     -o-min-device-pixel-ratio:1.25/1)    and (min-width:320px),
only screen and (        min-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (              min-resolution:120dpi)      and (min-width:320px),
only screen and (               min-resolution:2dppx)      and (min-width:320px){
    .home-page section.about .socials-nav li a:before{
        background-image: url(../images/ui/pages/home/about/socials@3x.png);
    }
}