.home-page section.contact{
    padding-top: 70px;
    padding-bottom: 22px;
    background: #ebebeb;
}
.home-page section.contact h4{
    font-size: $h4;
    font-weight: normal;
    margin: 0 0 34px;
    text-align: center;
}
.home-page section.contact .form{
    width: 880px;
    margin: 0 auto;
    @include clearfix();
}
.home-page section.contact .form section{
    margin: 0 -20px;
}
.home-page section.contact .form .col{
    float: left;
    width: 50%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 38px;
}
.home-page section.contact .form .col .div{
    margin-bottom: 15px;
}
.home-page section.contact .form .col .input{
    border: 1px solid $base;
    height: 47px;
    width: 100%;
    padding:0 14px;
    font-size: $s30;
    background: #ebebeb;
}
.home-page section.contact .form .col textarea.input{
    height: 144px;
    padding-top:4px;
    padding-bottom: 4px;
    resize: none;
}
.home-page section.contact .form .col footer{
    text-align: right;
    @include clearfix();
}
.home-page section.contact .form .col footer .captcha{
    float: left;
}
.home-page section.contact .form .col footer .button{
    border: 1px solid $base;
    height: 47px;
    width: 149px;
    background: #ebebeb;
    font-size: $s30;
    color: $base;
}
.home-page section.contact dl{
    margin: 0;
}
.home-page section.contact dt{
    font-size: $h1;
    color: $base;
    font-weight: normal;
    line-height: 36px;
}
.home-page section.contact dd{
    font-size: $h4;
    color: $placeholder;
    margin: 0 0 28px;
}
.home-page section.contact dd.support{
    margin-bottom: 39px;
}
.home-page section.contact dd.career{
    margin-bottom: 43px;
}
.home-page section.contact dd a{
    color: $placeholder;
    text-decoration: none;
}
.home-page section.contact dd .socials li{
    padding-right:39px;
    padding-top: 8px;
}
.home-page section.contact dd .socials li a{
    display: block;
    width: 22px;
    height: 22px;
    background: url(../images/ui/pages/home/contact/socials.png) center center no-repeat;
    background-size: 22px auto;
}
.home-page section.contact dd .socials li.facebook a{
    background-position: center 0;
}
.home-page section.contact dd .socials li.twitter a{
    background-position: center -22px;
}
.home-page section.contact dd .socials li.instagram a{
    background-position: center -44px;
}
.home-page section.contact dd .socials li.youtube a{
    background-position: center -66px;
}
.home-page section.contact dd .socials li.google-plus a{
    background-position: center -88px;
}

@media (max-width: 1199px) {
    .home-page section.contact .form{
        width: 100%;
    }
    .home-page section.contact .form section{
        margin-left: -15px;
        margin-right: -15px;
    }
    .home-page section.contact .form .col{
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 991px) {
    .home-page section.contact .form .col footer{
        text-align: center;
    }
    .home-page section.contact .form .col footer .captcha{
        float: none;
        margin-bottom: 10px;
    }
}

@media (max-width: 767px) {
    .home-page section.contact{
        padding-top: 35px;
        padding-bottom: 16px;
    }
    .home-page section.contact h4{
        margin: 0 0 17px;
    }
    .home-page section.contact .form .col{
        width: 100%;
        float: none;
        padding-bottom: 19px;
    }
    .home-page section.contact .form .col .input,
    .home-page section.contact .form .col .button,
    .home-page section.contact dt{
        font-size: $h5;
    }
    .home-page section.contact .form .col textarea.input{
        padding-top:8px;
        padding-bottom: 8px;
    }
    .home-page section.contact dd{
        margin: 0 0 14px;
        font-size: $h5;
    }
    .home-page section.contact dd.support{
        margin-bottom: 20px;
    }
    .home-page section.contact dd.career{
        margin-bottom: 21px;
    }
    .home-page section.contact dd .socials li{
        padding-right:20px;
        padding-top: 4px;
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (   min--moz-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (     -o-min-device-pixel-ratio:1.25/1)    and (min-width:320px),
only screen and (        min-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (              min-resolution:120dpi)      and (min-width:320px),
only screen and (               min-resolution:2dppx)      and (min-width:320px){
    .home-page section.contact dd .socials li a{
        background-image: url(../images/ui/pages/home/contact/socials@3x.png);
    }
}