<!DOCTYPE html>
<html>
<head>
<title>{% block title %}{% endblock %}</title>
{% include "./components/meta.html" %}

{% block meta %}{% endblock %}

{% include "./components/favicon.html" %}

{% include "./components/fonts.html" %}

{% block cssLibs %}{% endblock %}

{% include "./components/css.html" %}

</head>
<body>
{% include "./partials/sidebar-logged.html" %}

<div class="site-page {% block namepage %}{% endblock %}">
{% include "./partials/header-logged.html" %}

    <section id="siteBody" class="site-body">
    {% block main %}{% endblock %}
    </section>

{% include "./partials/footer.html" %}
</div>

{% block modal %}{% endblock %}

<!--{% include "../content/modals/sign-out.html" %}

{% include "../content/modals/rule.html" %}-->

{% include "./partials/loading.html" %}

{% include "./components/js.html" %}

{% block scriptLibs %}{% endblock %}

<script type="text/javascript" src="content/js/ui-core.js"></script>
<script type="text/javascript" src="content/js/ui-master.js"></script>

{% block script %}{% endblock %}
</body>
</html>
