body{
    font-size: 16px;
    font-family: $HelveticaNeueLight;
    overflow-x: hidden;
    overflow-y: scroll;
}

*, *:hover, *:active, *:focus, *:visited {
    outline: 0 none !important;
    outline-offset: inherit;
}

input[type="text"], input[type="email"], input[type="search"], input[type="password"], textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

html.sidebar-open{
    position: fixed;
    width: 100%;
    overflow: hidden;
}

dl{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}