<header id="siteHeader" class="site-header">
    <section class="fixed">
        <div class="t-container">
            <button id="hambeger" type="button" class="hambeger">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="logo" title="" href="./"></a>
            <ul class="t-nav main-nav">
                <li id="navAbout" class="about"><a title="ABOUT" href="index.html#aboutSection">ABOUT</a></li>
                <li id="navGames" class="games"><a title="GAMES" href="games.html">GAMES</a></li>
                <li id="navTeoengine" class="teoengine"><a title="TEOENGINE" href="index.html#developerSection">TEOENGINE</a></li>
                <li id="navCommunity" class="community"><a title="COMMUNITY" href="index.html#communitySection">COMMUNITY</a></li>
                <li id="navContact" class="contact"><a title="CONTACT" href="index.html#contactSection">CONTACT</a></li>
                <li id="navSignIn" class="sign-in"><a title="SIGN IN" href="#">SIGN IN</a></li>
            </ul>
        </div>
    </section>
</header>