<div id="sidebar" class="sidebar">
    <nav>
        <dl>
            <dt><a class="logo" title="" href="./"></a></dt>
            <dd id="sAbout"><a title="ABOUT" href="index.html#aboutSection"><span class="icon-nav icon-upcoming"></span>ABOUT</a></dd>
            <dd id="sGame"><a title="GAMES" href="games.html"><span class="icon-nav icon-reminder"></span>GAMES</a></dd>
            <dd id="sTeoengine"><a title="TEOENGINE" href="index.html#developerSection"><span class="icon-nav icon-contacts"></span>TEOENGINE</a></dd>
            <dd id="sCommunity"><a title="COMMUNITY" href="index.html#communitySection">COMMUNITY</a></dd>
            <dd id="sContact"><a title="CONTACT" href="index.html#contactSection"><span class="icon-nav icon-settings"></span>CONTACT</a></dd>
            <dd id=""><a title="SIGN IN" href="#">SIGN IN</a></dd>
        </dl>
    </nav>
</div>