.games-page section.games{
    /*background: url(../images/ui/pages/home/games/bg.png) center top;
    background-size: 1600px auto;*/
    padding-top: 70px;
    padding-bottom: 70px;
}
.games-page section.games .t-container{
    width: inherit;
}
.games-page section.games h4{
    font-size: $h4;
    line-height: 36px;
    font-weight: normal;
    text-align: center;
    margin:0 0 42px;
}
.games-page section.games .list{
    margin: 0 -12px;
    padding:0;
    list-style: none;
    @include clearfix();
}
.games-page section.games .list li{
    float: left;
    padding-left: 12px;
    padding-right: 12px;
    width: 33.3333%;
    margin-bottom: 25px;
    display:block;
}
.games-page section.games .list li .frame{
    display: block;
    background: center center no-repeat;
    background-size: cover;
    margin-bottom: 4px;
}
.games-page section.games .list li .frame a{
    text-decoration: none;
}
.games-page section.games .list li .frame img{
    width:100%;
    display: block;
}
.games-page section.games .list li h5{
    font-size: $h5;
    font-weight: normal;
    margin:0 0 4px;
}
.games-page section.games .list li h5 a{
    text-decoration: none;
    color: $base;
}
.games-page section.games .list li dl{
    font-size: $s14;
    line-height: 20px;
    margin:0;
    @include clearfix();
}
.games-page section.games .list li dl dt{
    float: left;
    margin:0 8px 0 0;
}
.games-page section.games .list li dl dd{
    float: left;
    margin:0 14px 0 0;
}
.games-page section.games .list li dl dd img{
    max-height: 18px;
}
.games-page section.games .list li dl dd a{
    text-decoration: none;
}
.games-page section.games footer{
    text-align: center;
    padding-top: 38px;
}
.games-page section.games footer .button{
    font-size: $s30;
    border: 1px solid $base;
    height: 47px;
    width: 142px;
    background: $white;
}
.games-page section.games .list li dl.platform dt{
    margin-bottom:5px;
}
.games-page section.games .list li dl.platform dd{
    margin-bottom:5px;
    line-height:0;
}
.games-page section.games .list li.clear{
    clear:both;
    margin:0;
    display: none;
}
.games-page section.games .list li.clear.three{
    display:block;
}

@media (min-width: 1200px) {
    .games-page section.games .list li{
        width: 25%;   
    }
    .games-page section.games .list li.clear.three{
        display:none;
    }
    .games-page section.games .list li.clear.four{
        display:block;
    }
}

@media (max-width: 767px) {
    .games-page section.games{
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .games-page section.games h4{
        margin:0 0 21px;
    }
    .games-page section.games .list li{
        float: none;
        width: 100%;
        margin-bottom: 12px;
    }
    .games-page section.games footer{
        padding-top: 19px;
    }
}

/*@media
only screen and (-webkit-min-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (   min--moz-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (     -o-min-device-pixel-ratio:1.25/1)    and (min-width:320px),
only screen and (        min-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (              min-resolution:120dpi)      and (min-width:320px),
only screen and (               min-resolution:2dppx)      and (min-width:320px){
    .games-page section.games{
        background-image: url(../images/ui/pages/home/games/bg@3x.png);
    }
}*/