.games-page .sort{
    margin:0 -10px;
    padding:21px 0 27px;
    list-style: none;
    @include clearfix();
}
.games-page .sort li{
    color: $placeholder;
    font-size: $s30;
    padding-left: 10px;
    padding-right: 10px;
}
.games-page .sort li.result{
    float: left;
}
.games-page .sort li.by{
    float: right;
}
.games-page .sort li.by a{
    color: $placeholder;
    text-decoration: none;
}

@media (max-width: 767px) {
    .games-page .sort{
        padding:10px 0 13px;
    }
    .games-page .sort li{
        font-size: $h5;
    }
}